<p>Hello <%= @email %>,</p>

<p>Congratulations! You have been recommended by an instructor to grade.</p>

<p>We created an account for you. Your password is "password". When you log in, please change your password and account information to match you.</p>
<p><%= link_to "Sign in", root_url %></p>

<p>Your account is automatically linked to your recommendation.</p>
