<!-- app/views/sections_instructors/show.html.erb -->
<h1>Section Instructor</h1>
<p>Email: <%= @section_instructor.instructor_email %></p>
<p>Section ID: <%= @section_instructor.section_id %></p>
<p><%= link_to "Index", section_instructor_index_path %></p>

